@import url('https://fonts.googleapis.com/css2?family=Alef&family=Open+Sans:wght@800&family=Roboto:wght@100&display=swap');

:root {
    --accent-color:  #ffc86f;
    --accent-border-color:  #af894c;
    --secondary-color: #e66871;
    --dark-color: #861537;
    --bg-dark: #182d4d;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    width: 100%;
    font-family: 'Alef', sans-serif;
    direction: rtl;
}

body {
    height: 100vh;
    height: -moz-availabe;
    height: -webkit-fill-available;
    height: stretch;
    background-color: #fafafa;
}

.layout-wrapper {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;

    #main-content {
        max-width: 900px;
        height: 100%;
    }
}

.button {
    cursor: pointer;
    border: none;
    font-size: 3em;
    letter-spacing: 1.5px;
    color: var(--accent-color);
    background-color: var(--dark-color);
    border-top: solid 4px var(--secondary-color);
    font-family: 'Alef', sans-serif;

    &:active, &:focus {
        filter: brightness(1.15);
        outline: none;
    }
}

@media only screen and (max-height: 700px) {
    body {
        height: auto;
        min-height: 100vh;
        min-height: -moz-availabe;
        min-height: -webkit-fill-available;
        min-height: stretch;
    }
}