.landing-content {
    display: flex;
    flex-flow: column nowrap;
    background-color: #2e4f80;

    & > * {
        position: relative;
    }

    .bg-polygon {
        background-color: var(--bg-dark);
        position: absolute;
        width: 100%;
        height: 78%;
        top: 22%;
        clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    }

    .title {
        padding: .5em;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        margin: 0px auto 0px auto;

        & > img {
            height: 150px;
            padding: 10px 0px 0px 10px;
        }

        #logo-text p {
            direction: ltr;
            padding: 0;
            margin: 0;
            vertical-align: bottom;
            font-size: 5.3em;
            font-size: min(15vw, 6em);
            height: 100%;
            color: #ffc870;
            font-family: 'Roboto', sans-serif;
        }
    }

    .subtitle {
        text-align: center;
        letter-spacing: 3px;
        color: #fafafa;
    }

    .count-wrapper {
        margin: 1em;
        position: relative;
        background-image: url("./count-bg.jpg");
        background-size: cover;
        flex-grow: 1;
        min-height: 300px;
        outline: dotted 2px var(--accent-color);

        .count-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: grid;
            place-items: center;

            .count-value-wrapper {
                text-align: center;
                .count-value {
                    display: block;
                    font-size: clamp(50px, 50vw, 200px);
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1em;

                    color: var(--accent-color);
                    text-shadow:
                        var(--secondary-color) -4px -4px,
                        var(--dark-color) -8px -8px;
                    
                        margin-right: -4px;
                }
                .count-subtitle {
                    display: block;
                    background-color: var(--dark-color);
                    color: #fafafa;
                    margin: 0 2em;
                    padding: .5em 0;
                    line-height: 1em;
                    position: relative;
                    white-space: nowrap;
                    min-height: 4em;

                    &::after, &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: 0;
                        height: 0;
                    }

                    &::before {
                        left: 100%;
                        border-left: 0px solid transparent;
                        border-right: 4em solid transparent;
                        border-bottom: 4em solid var(--dark-color);
                    }

                    &::after {
                        right: 100%;
                        border-left: 4em solid transparent;
                        border-right: 0px solid transparent;
                        border-top: 4em solid var(--dark-color);
                    }

                    p {
                        margin: 5px;
                    }
                }
            }
        }
    }

    .info {
        padding: 0 15px 0 15px;
        color: white;
        
        h2 {
            margin: 0;
        }

        p {
            margin: 5px 0 15px 0;
        }
    }

    .location {
        position: relative;

        .location-text {
            position: absolute;
            right: 15px;
            top: 15px;
            height: 175px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0 10px 0 10px;
            max-width: 45%;
            font-size: 1.3em;
            font-size: min(4vw, 1.3em);
        }
    }

    .show-form-btn {
        &:active, &:focus {
            filter: brightness(1.15);
            outline: none;
        }
    }
}