.landing-content {
    display: flex;
    flex-flow: column nowrap;
    background-color: #2e4f80;

    & > * {
        position: relative;
    }

    .bg-polygon {
        background-color: var(--bg-dark);
        position: absolute;
        width: 100%;
        height: 90%;
        top: 10%;
        clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    }

    .title {
        padding: .5em;

        & > img {
            width: 100%;
        }
    }

    .subtitle {
        text-align: center;
        letter-spacing: 3px;
        color: #fafafa;
    }

    .count-wrapper {
        margin: 1em;
        position: relative;
        height: 50%;
        background-image: url("./count-bg.jpg");
        background-size: cover;
        flex-grow: 1;
        outline: dotted 2px var(--accent-color);

        .count-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: grid;
            place-items: center;

            .count-value-wrapper {
                text-align: center;
                .count-value {
                    display: block;
                    font-size: clamp(50px, 50vw, 200px);
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1em;

                    color: var(--accent-color);
                    text-shadow:
                        var(--secondary-color) -4px -4px,
                        var(--dark-color) -8px -8px;
                    
                        margin-right: -4px;
                }
                .count-subtitle {
                    display: block;
                    background-color: var(--dark-color);
                    color: #fafafa;
                    margin: 0 2em;
                    padding: .5em 0;
                    line-height: 1em;
                    position: relative;
                    white-space: nowrap;

                    &::after, &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: 0;
                        height: 0;
                    }

                    &::before {
                        left: 100%;
                        border-left: 0px solid transparent;
                        border-right: 2em solid transparent;
                        border-bottom: 2em solid var(--dark-color);
                    }

                    &::after {
                        right: 100%;
                        border-left: 2em solid transparent;
                        border-right: 0px solid transparent;
                        border-top: 2em solid var(--dark-color);
                    }
                }
            }
        }
    }

    .show-form-btn {
        cursor: pointer;
        border: none;
        font-size: 50px;
        letter-spacing: 1.5px;
        color: var(--accent-color);
        background-color: var(--dark-color);
        border-top: solid 4px var(--secondary-color);

        &:active, &:focus {
            filter: brightness(1.15);
            outline: none;
        }
    }
}